.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menuItem {
  display: inline-block;
}

.menuItem a {
  color: #6c757d;
}

.menuItemActive {
  text-decoration: none;
}

.menuContainer {
  border: 1px solid #cdcdcd;
  margin: 10px 0;
}