@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
	position: absolute;
	top: -5%;
	bottom: -5%;
	left: -5%;
	right: -5%;
	background: url('../../../assets/header.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 120%;
	z-index: -1;
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.logo {
	font-family: 'Pacifico', cursive;
}
