@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: scroll;
	background-color: #ffffff;
	color: #000000;
}

.dark body {
	background-color: #111827;
	color: #ffffff;
}
